{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">
            Ecrit le {{ article.createdAt|date('d/m/Y')}} à {{ article.createdAt|date('H:i') }} dans l'entreprise SQLI
        </div><br>
        <div class="content">
            <img src="{{ article.image }}" alt="" /><br>
            {{ article.content|raw }}<br>
        </div>
    </article>
    <hr><hr>
    Comments
    <hr><hr>
    <section id="comments">
        {% for comment in article.comments %}
            <div class="comment" >
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content }}
                    </div>
                </div>
            </div><br><br>
        {% endfor %}
    </section>
{% endblock %}